<div class="header-wrapper">
  <h1>{{ 'HEADER.TITLE' | translate }}</h1>

  <section class="section-lenguage-theme">
    <article class="article article-language">
      <label class="label label-language-select" for="languageSelect">{{ 'HEADER.LANGUAGE_LABEL' | translate }} </label>

      <select class="select select-language" [(ngModel)]="selectedLanguage" (ngModelChange)="setLanguage($event)">
        <option class="option" [value]="'es'">{{ 'HEADER.LANGUAGE_SPANISH' | translate }}</option>
        <option class="option" [value]="'en'">{{ 'HEADER.LANGUAGE_ENGLISH' | translate }}</option>
        <option class="option" [value]="'fr'">{{ 'HEADER.LANGUAGE_FRENCH' | translate }}</option>
      </select>
    </article>
    <article class="article article-theme">
      <button class="button button-display-theme" (click)="toggleTheme()">
        <!-- modo oscuro -->
        <ng-container *ngIf="theme() === 'light'; else darkIcon">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
            fill="currentColor">
            <path
              d="M484-80q-84 0-157.5-32t-128-86.5Q144-253 112-326.5T80-484q0-146 93-257.5T410-880q-18 99 11 193.5T521-521q71 71 165.5 100T880-410q-26 144-138 237T484-80Zm0-80q88 0 163-44t118-121q-86-8-163-43.5T464-465q-61-61-97-138t-43-163q-77 43-120.5 118.5T160-484q0 135 94.5 229.5T484-160Zm-20-305Z" />
          </svg>
        </ng-container>

        <!-- modo claro -->
        <ng-template #darkIcon>
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
            fill="currentColor">
            <path
              d="M440-800v-120h80v120h-80Zm0 760v-120h80v120h-80Zm360-400v-80h120v80H800Zm-760 0v-80h120v80H40Zm708-252-56-56 70-72 58 58-72 70ZM198-140l-58-58 72-70 56 56-70 72Zm564 0-70-72 56-56 72 70-58 58ZM212-692l-72-70 58-58 70 72-56 56Zm268 452q-100 0-170-70t-70-170q0-100 70-170t170-70q100 0 170 70t70 170q0 100-70 170t-170 70Zm0-80q67 0 113.5-46.5T640-480q0-67-46.5-113.5T480-640q-67 0-113.5 46.5T320-480q0 67 46.5 113.5T480-320Zm0-160Z" />
          </svg>
        </ng-template>
      </button>
    </article>
    <!-- icono de menú -->
    <button class="menu-button" (click)="toggleMenu()">
      <svg class="menu-icon" xmlns="http://www.w3.org/2000/svg" height="30px" width="30px" viewBox="0 -960 960 960"
        fill="currentColor">
        <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
      </svg>
    </button>

    <!-- versión en pantallas pequeñas -->
    <nav class="menu" [class.open]="menuOpen()">
      <article class="article article-language" (click)="closeMenu()">
        <label class="label label-language-select" for="languageSelect">{{ 'HEADER.LANGUAGE_LABEL' | translate }}
        </label>

        <select class="select select-language" [(ngModel)]="selectedLanguage" (ngModelChange)="setLanguage($event)">
          <option class="option" [value]="'es'">{{ 'HEADER.LANGUAGE_SPANISH' | translate }}</option>
          <option class="option" [value]="'en'">{{ 'HEADER.LANGUAGE_ENGLISH' | translate }}</option>
          <option class="option" [value]="'fr'">{{ 'HEADER.LANGUAGE_FRENCH' | translate }}</option>
        </select>
      </article>
      <article class="article article-theme" (click)="closeMenu()">
        <button class="button button-display-theme" (click)="toggleTheme()">
          <!-- modo oscuro -->
          <ng-container *ngIf="theme() === 'light'; else darkIcon">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
              fill="currentColor">
              <path
                d="M484-80q-84 0-157.5-32t-128-86.5Q144-253 112-326.5T80-484q0-146 93-257.5T410-880q-18 99 11 193.5T521-521q71 71 165.5 100T880-410q-26 144-138 237T484-80Zm0-80q88 0 163-44t118-121q-86-8-163-43.5T464-465q-61-61-97-138t-43-163q-77 43-120.5 118.5T160-484q0 135 94.5 229.5T484-160Zm-20-305Z" />
            </svg>
          </ng-container>

          <!-- modo claro -->
          <ng-template #darkIcon>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
              fill="currentColor">
              <path
                d="M440-800v-120h80v120h-80Zm0 760v-120h80v120h-80Zm360-400v-80h120v80H800Zm-760 0v-80h120v80H40Zm708-252-56-56 70-72 58 58-72 70ZM198-140l-58-58 72-70 56 56-70 72Zm564 0-70-72 56-56 72 70-58 58ZM212-692l-72-70 58-58 70 72-56 56Zm268 452q-100 0-170-70t-70-170q0-100 70-170t170-70q100 0 170 70t70 170q0 100-70 170t-170 70Zm0-80q67 0 113.5-46.5T640-480q0-67-46.5-113.5T480-640q-67 0-113.5 46.5T320-480q0 67 46.5 113.5T480-320Zm0-160Z" />
            </svg>
          </ng-template>
        </button>
      </article>
    </nav>
  </section>
</div>
