.app-wrapper {
  position: relative;
  padding-bottom: var(--space-3);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-3);
}

.background-image {
  height: 100%;
  width: 100vw;

  position: absolute;
  inset: 0;
  z-index: -1;

  object-fit: cover;
}

.header-component {
  height: var(--space-7);
  width: 100vw;

  position: relative;
  z-index: 0;

  backdrop-filter: blur(3px);
}

.header-component::after {
  content: "";

  position: absolute;
  z-index: -1;
  inset: 0;

  opacity: .5;
  background-color: var(--background-color);
}

.section-inputs {
  width: 100vw;

  padding: 0 var(--space-4);

  display: grid;
  grid-template-columns: 25% 75%;
  justify-content: center;
  gap: var(--space-3);
}

.section-actions {
  width: 100vw;

  padding: 0 var(--space-4);

  display: grid;
  grid-template-columns: 40% 60%;
  justify-content: center;
  align-items: stretch;
  gap: var(--space-3);
}

.mineral-criteria-component {
  height: 100%;

  position: relative;
  z-index: 0;

  color: var(--primary-color);
  font-size: var(--font-3);
  font-family: var(--font-family-2);

  border-radius: var(--space-2);

  backdrop-filter: blur(1px);
  box-shadow: 2px 4px 4px -1px rgba(0, 0, 0, .5);

  overflow: hidden;
}

.mineral-criteria-component::after {
  content: "";

  height: 100%;
  width: 100%;

  position: absolute;
  inset: 0;
  z-index: -1;

  opacity: .6;
  background-color: var(--background-color);
}

.form-actions-component,
.mineral-criteria-component,
.user-input-component,
.mineral-input-component {
  animation: fade .3s ease, slide .3s ease;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* VISTA PANTALLAS PEQUEÑAS */
@media (max-width: 1000px) {
  .header-component {
    height: fit-content;
    min-height: var(--space-8);

    display: flex;
    align-items: center;
  }

  .section-inputs,
  .section-actions {
    grid-template-columns: 100%;
  }
}
