<form class="form form-user-input">
  <fieldset class="form-fieldset">
    <legend class="form-legend">{{ 'USER.LEGEND' | translate }}</legend>
    <section class="form-section-inputs">

      <!-- identificador -->
      <article class="article article-user-identifier">
        <label *ngIf="displayMode === 'expanded'" class="label label-user-identifier" for="userIdentifier">{{
          'USER.IDENTIFIER_LABEL' | translate
          }}</label>
        <input class="input-text-number input-user-identifier" type="text" name="user-identifier" id="userIdentifier"
          [placeholder]="displayMode === 'collapsed' ? ('USER.IDENTIFIER_PLACEHOLDER' | translate) : ''"
          [(ngModel)]="user.userIdentifier" value="userIdentifier">
      </article>

      <!-- nombre -->
      <article class="article article-user-name">
        <label *ngIf="displayMode === 'expanded'" class="label label-user-name" for="userName">{{ 'USER.NAME_LABEL' |
          translate }}</label>
        <input class="input-text-number input-user-name" type="text" name="user-name" id="userName"
          [placeholder]="displayMode === 'collapsed' ? ('USER.NAME_PLACEHOLDER' | translate) : ''" [(ngModel)]="user.userName"
          value="userName">
      </article>

      <!-- nacionalidad-->
      <article class="article article-user-nationality">
        <label *ngIf="displayMode === 'expanded'" class="label label-user-nationality" for="userNationality">{{
          'USER.NATIONALITY_LABEL' | translate
          }}</label>
        <input class="input-text-number input-user-nationality" type="text" name="user-nationality" id="userNationality"
          [placeholder]="displayMode === 'collapsed' ? ('USER.NATIONALITY_PLACEHOLDER' | translate) : ''"
          [(ngModel)]="user.userNationality" value="userNationality">
      </article>

      <!-- misión -->
      <!--
      <article class="article article-user-mission">
        <label class="label label-user-mission" for="userMission">Misión del usuario: </label>
        <input class="input input-user-mission" type="text" name="userMission" id="userMission"
          [(ngModel)]="user.userMission" value="userMission">
      </article>
      -->
    </section>
  </fieldset>
</form>
