.section-description p {
  font-size: var(--font-3);
  font-family: var(--font-family-2);
  color: var(--primary-color);
}

.section-description em {
  font-size: var(--font-3);
  font-family: var(--font-family-2);
  color: var(--primary-color);
}

.container-criteria-info p {
  font-size: var(--font-2);
  font-family: var(--font-family-2);
  color: var(--primary-color);
}

.container-criteria-info em {
  font-size: var(--font-2);
  font-family: var(--font-family-2);
  color: var(--primary-color);
}

.section-config h2,
.section-form-buttons h2 {
  font-size: var(--font-3);
  font-family: var(--font-family-1);
  font-weight: bold;
  color: var(--primary-color);
}

.form-config-wrapper {
  position: relative;
  z-index: 0;
  padding: var(--space-3);

  display: grid;
  gap: var(--space-3);

  border-radius: var(--space-2);

  backdrop-filter: blur(1px);
  box-shadow: 2px 4px 4px -1px rgba(0, 0, 0, .5);

  overflow: hidden;
}

.form-config-wrapper::after {
  content: '';

  position: absolute;
  inset: 0;
  z-index: -1;

  opacity: .6;
  background-color: var(--background-color);
}

.section {
  padding: var(--space-1) 0;
}

.article {
  display: grid;
  gap: var(--space-2);
}

.section-description {
  display: grid;
  align-items: center;
  gap: var(--space-2);
}

.section-config {
  display: flex;
  flex-direction: column;
  gap: var(--space-5);
}

.section-form-buttons {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}

.container-criteria-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--space-2);
}

.button-group {
  margin-left: var(--space-2);

  display: inline-flex;
  justify-self: start;
  width: max-content;

  outline: 3px solid var(--primary-color);
  border-radius: var(--space-2);

  overflow: hidden;
}

.button {
  height: var(--space-6);

  position: relative;
  padding: 0 var(--space-3);

  border: none;
  outline: none;

  font-size: var(--font-3);
  font-family: var(--font-family-2);

  color: var(--primary-color);
  background-color: transparent;
  transition: all .5s ease-out;

  cursor: pointer;
}

.button:after {
  content: '';

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  border-right: 2px solid var(--primary-color);
}

.button:first-child:after {
  border-right: none;
}

.article-display-mode .button:hover,
.article-mineral-criteria .button:hover,
.article-form-actions .button:hover:first-child {
  color: var(--primary-color);
  background-color: var(--background-color);
}

.article-form-actions .button:hover {
  color: var(--background-color);
  background-color: var(--failed-color);
}

.article-display-mode .button.active,
.article-mineral-criteria .button.active {
  background-color: var(--background-color);
}

@media (max-width: 500px) {
  .button-group {
    display: grid;
  }

  .button::after {
    content: '';

    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;

    border-bottom: 2px solid var(--primary-color);
    border-right: none;


  }

  .button:last-child::after {
    border-bottom: none;
  }
}
