.column {
  width: 100%;

  position: relative;
  padding: 0 var(--space-3);

  display: flex;
  flex-direction: column;
  gap: var(--space-3);

  align-items: stretch;
}

.column::after {
  content: '';

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  border-right: 2px solid var(--background-color);
}

.column:first-child::after {
  border-right: none;
}

@media (max-width: 750px) {
  .form-section-inputs {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-3);
  }

  .column::after {
    border-right: none;
  }
}

@media (min-width: 751px) and (max-width: 1200px) {
  .article {
    display: grid;
    gap: var(--space-2);
  }
}
